/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px; */
  /*root font size/  10px = 1rem/ We are declaring font-size in the html elment
  because rem is relevant to it and by doing this we can create responsive website since all rems below will be  based on the font-size  here -changing the size will
  change the whole webiste size-
  So if we want the designe to be responsive in mobile we can just change the font-size in the html element to 5px -try it in the browser :))-
  */
  /* a good practice is not even using px here so we use percantage this way if the user changes the size of color the website will stil responsive
  the default font size is 16 px so if we made the font size 100% that would be 16px * 100% = 16px

  Since we want our site to have 10 px not 16px we can get the percentage of the font size by dividing it by 16px
  so 10px = 10 / 16 = 0.625%


  */
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
  /*making the parent of logo-box relative so the 40rem height is based on it */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*repositions an element in the horizontal and vertical directions */
  text-align: center;
}
.header__logo {
  height: 3.5rem;
}

.header__logo:hover {
  cursor: pointer;
  animation: moveInLeft 1s 0.5s ease-out;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  /* animation-delay: 0.5s; */
  /*delay the animation by 1 second */
  /* animation-iteration-count: 2; */
  animation-timing-function: ease-out;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.5rem;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  60% {
    transform: rotate(10deg);
    /*rotate the text 10 degrees */
  }
  80% {
    transform: 2rem;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: -2rem;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  80% {
    transform: -2rem;
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.btn:link, .btn:visited {
  display: inline-block;
  padding: 1.5rem 4rem;
  border-radius: 5.5rem;
  /* margin-top: 6rem; */
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  text-decoration: none;
  transition: all 0.3s;
  position: relative;
}
.btn:hover {
  /* transform: translate(0, -5px); */
  transform: translateY(-0.5rem);
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.5);
}
.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.5);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1rem);
  /*move the button down 1px after clicking on it(hold the click to notice the effect) */
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 5.5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInBottom 1s ease-out;
  /* animation-fill-mode: backwards; */
}

/*# sourceMappingURL=style.css.map */
