.popup {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb($color-gray-dark-4, 0.9);

	z-index: 100;
	// hidden the popup and visablity to hidden to hide the content
	opacity: 0;
	visibility: hidden;

	// here when the target is clicked, the popup will be shown
	// that could be done by creating an id for the popup and then using the id to target the popup by adding it to the herf attribute of the button
	&:target {
		opacity: 1;
		visibility: visible;
	}

	&__content {
		@include absCenter; // mixin to center the content
		width: 75%;
		// height: 50rem;
		background-color: $color-white;
		box-shadow: 0 2rem 4rem rgba($color-gray-dark-4, 0.2);
        display: table;
        border-radius: .3rem;
        overflow: hidden;
	}
	&__left {
		width: 33.33333%;
		display: table-cell;
	}
	&__right {
        width: 66.66666%;
		display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
	}
	&__img {
		display: block;
		width: 100%;
	}
	&__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;
		column-count: 2;
		column-gap: 3rem;
		column-rule: .1rem solid $color-gray-light-3;

		

		hyphens: auto;
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		-webkit-hyphens: auto; // for Safari
	}
}
